# Azure OpenAI の API Key, API Endpoint, API Version, Model Deployment Name, Azure Storage の接続文字列を設定
API_KEY=<AOAI API KEY>
API_ENDPOINT=<AOAI API ENDPOINT>
API_VERSION=2024-08-01-preview
DEPLOYMENT_NAME=gpt-4o

# Azure Storage のコンテナ名を設定
AZURE_STORAGE_CONNECTION_STRING=<AZURE STORAGE CONNECTION STRING>
AZURE_STORAGE_ACCOUNT_CONTAINER_NAME=pptfiles
